body {
  font-family: 'Poppins', sans-serif;
}

/* Grid CSS */

#herolmg {
  margin: 0px 5%;
  display: grid;
  min-height: 700px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas:
  "featuredProduct secondaryProduct"
  "featuredProduct CTA";
}

#featuredProduct {
  grid-area: featuredProduct;
  background-image: url("../images/claudia_unbrella.png");
}

#headline {
  background-color: rgba(255,255,255,0.8);
  border-bottom: 5px solid #F10DA3;
  position: absolute;
  right: -180px;
  top: 100px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

/* Category Grid CSS */

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "bookcases bedroom patio"
  "couches couches patio"
  "desks desks desks"
  ;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #95989A;
}


/* Navigation CSS */

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 10%;
}
#navBar h1 {
  width: 25%;
  font-weight: bold;
}

#navigation {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 10px;
  cursor: pointer;
}
.highlight {
  color: #F10DA3;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 80px;
  margin: 0px 0px;
  color: #F10DA3;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}

p {
  max-width: 400px;
  font-size: 14px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

#headline p {
  max-width: 400px;
  font-size: 14px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	background-color: #F10DA3;
	color: #FFFFFF;
	border: 1px solid #333333;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FAFAFA;
	color: #F10DA3;
	cursor: pointer;
}

ul.a {
  list-style-type: circle;
}

/* Skills CSS */
#skills {
  margin: 0px 5%;
  display: grid;
  min-height: 700px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas:
  "featuredProduct secondaryProduct"
  "featuredProduct CTA";
}

#featuredSkills {
  grid-area: featuredProduct;
  background-color: antiquewhite
}


@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

/* Footer CSS */
.footer {
	background-color: #ffffff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20PX;
	margin: 0px 5%;
}
a {
  color: hotpink;
}
/* unvisited link */
a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: #999999;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.hero_header {
	line-height: 22px;
	text-align: center;
}

.copyright {
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	color: #333333;
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "bookcases"
      "bedroom"
      "patio"
      "couches"
      "desks"
    ;
  }
}